/* index.css - Estilo global y diseño en general */
:root {
  /* Tomado para el navbar: rgba(197,160,89)*/
  --gold-liquid: #c5a059;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
}

/*Espacio de scroll sin tapar nada*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
